/* 
   0, 72, 170 #0048AA
   0, 230, 230 #00e6e6
   79, 190, 219 #4FBEDB
*/

* {
    font-family: 'Raleway', sans-serif;
}

html{
    background-color: #111;
}

body{
    height: 400px;
    width: 920px;
    min-width: 920px;
    margin: 150px auto;
}

main
{
    height: auto;
    min-height: 575px;
    width: 920px;
    min-width: 920px;
    margin: 50px auto;
    
}


#home {
    margin-top: 300px;
    width: 100%;
}

#home > h2 {
    background: rgba(255,255,255,0.3);
    padding: 20px;
}

#home > article {
    font-family: 'Lobster', cursive;
    font-size: 40px;
    color: #fff;
}

#home > button {
    display: block;
    margin: 100px auto;
    text-decoration: none;
    border: none;
    height: 75px;
    width: 300px;
    font-size: 30px;
    background: rgb(0, 130,130);
}

#home > button:hover {
    background: rgba(0,130,130,0.7);
    color: #fff;
}

#about {
    margin-top: 200px;
}
#about > h2 {
    margin-top: 50px;
    margin-bottom: 50px;
    color: #00e6e6;
}

#about > article {
    color: #fff;
}

#contact {
    margin-top: 5px !important;
    background: rgb(0, 230, 230);
    padding-top: 0px !important;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#contact > h2{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 30px;
    color: #00e6e6;
}

#contact > article {
    font-size: 25px;
    color: #fff;
}

.tech {
    border: 1px solid #00e6e6;
    margin: 0px auto;
    height: 64px;
    width: 64px;
    padding: 0px;
    border-radius: 35px;
}

#skills {
    height: 210px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding: 15px;
    color: #fff;
    text-align: center;
    font-size: 20px;
}

#skills > article {
    margin-bottom: 15px;
    color: #fff;
}

#portfolio {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
    text-align: center;
    font-size: 20px;
}

#portfolio > article {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #fff;
}

#resume {
    height: 500px;
    width: auto;
}

#j {
    background: url("../images/sprite.jpg") 0px -130px;
}

#c {
    background: url("../images/sprite.jpg") 0px -65px;
}

#s {
    background: url("../images/sprite.jpg") -66px -66px; 
}

#h {
    background: url("../images/sprite.jpg") 0px 0px;
}

.text-muted {
    font-size: 20px !important;
}

a {
    text-decoration: none;
}

#skills {
    background: rgba(0,130,130,0.4);
}

#portfolio {
    background: rgba(0,130,130,0.4);
}

#contact {
    height: 20px;
    background: rgb(0,130,130);
}

.cont {
    background: #111;
    margin-top: 100px;
}

#navFix {
    padding-top: 25px;
    width: 920px;
    height: 75px;
    margin:0px auto;
    padding-left: 0px;
    position: relative;
}

nav {
    background-color: rgba(55,55,55,0.7);
    width: 100%;
    height: 88px;
    position: absolute;
    left: 0px; 
    top:0px;   
}

#navFix > a {
    margin-top: 0px;
    display: inline-block;
    height: 38px;
    margin-left: 0px;
    font-size: 25px;
    position: relative;
    z-index: 999;
    float: right;
}

#navFix > p {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    color: #00e6e6;
    font-size: 30px;
    float: right;
}

* {
    font-family: 'Raleway', sans-serif;
}
body{
    height: 400px;
    width: 920px;
    min-width: 920px;
    margin: 150px auto;
}

main
{
    height: auto;
    min-height: 575px;
    width: 920px;
    min-width: 920px;
    margin: 50px auto;
    
}

h1 {
    width: 250px;
    font-size: 25px !important;
    color: #00e6e6;
    float: left;
    margin: 0px !important;
}

#home {
    margin-top: 300px;
    width: 100%;
}

#home > h2 {
    background: rgba(255,255,255,0.3);
    padding: 20px;
}

#home > article {
    font-family: 'Lobster', cursive;
    font-size: 40px;
    color: #fff;
}

#home > button {
    display: block;
    margin: 100px auto;
    text-decoration: none;
    border: none;
    height: 75px;
    width: 300px;
    font-size: 30px;
    background: rgb(0, 130,130);
}

#home > button:hover {
    background: rgba(0,130,130,0.7);
    color: #fff;
}

.tech {
    border: 1px solid #00e6e6;
    margin: 0px auto;
    height: 64px;
    width: 64px;
    padding: 0px;
    border-radius: 35px;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #00e6e6;
    text-shadow: 3px 3px 3px #333;
}

/* visited link */
a:visited {
    color: #00e6e6;
}

/* mouse over link */
a:hover {
    color: rgba(55,55,55,0);
    text-shadow: 3px 3px 0px #00e6e6;
    text-decoration: none;
}

#navFix {
    width: 920px;
    height: 75px;
    margin:0px auto;
    padding-left: 0px;
    position: relative; 
}

nav {
    background-color: rgba(55,55,55,0.7);
    width: 100%;
    height: 88px;
    position: absolute;
    left: 0px; 
    top:0px;   
}

#navFix > a {
    padding-top: 5px;
    margin-top: 0px;
    display: inline-block;
    height: 38px;
    margin-left: 0px;
    font-size: 25px;
    position: relative;
    z-index: 999;
}

#navFix > p {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    color: #00e6e6;
    font-size: 30px;
}

#push {
    padding-left: 20px;
}

footer {
    height: 50px;
    width: 100%;
    background-color: rgba(55,55,55,0.7);
    margin-top: 50px;
}

footer > p{
    padding-top: 10px;
    padding-left: 20px;
    height: 10px;
    display: block;
    margin: -25px auto;
    width: 310px;
    color: #00e6e6;
}

#fix {
    height: 145px;
    background: none;
    border: none;
    border-radius: 0px;
    width: 750px;
    margin: 0px auto;
    padding: 0px;
    padding-top: 5px;
    display: block;
}

.social
{
    margin-top: -100px;
    height: 64px;
    width: 64px;
    padding: 0px;
    border-radius: 35px;
}

#facebook {
    position: absolute;
    top: 125px;
    margin-left: 250px;
    background: url("../images/sprite.jpg") -196px -130px;
}

#twitter {
    position: absolute;
    top: 125px;
    margin-left: 320px;
	background: url("../images/sprite.jpg") -196px -65px;   
}

#google {
    position: absolute;
    top: 125px;
    margin-left: 390px;
	background: url("../images/sprite.jpg") -66px -130px;   
}

#youtube {
    position: absolute;
    top: 125px;
    margin-left: 460px;
	background: url("../images/sprite.jpg") -131px -65px;  
}

#getEzed
{
    margin-left: 10px;
}       

.me {
    width: auto;
    height:  250px;
    clear: both;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.floatRight {
    padding-top: 25px;
    width: 600px;
    height: 250px;
    text-align: center;
    color: #fff;
    float: right;
    font-size: 35px;
}

.floatRight > article {
    margin-bottom: 20px;
}

.color {
    color: aqua;
}

.halfRight {
    width: calc(50% - 5px);
    float: right;
}

.halfLeft {
    width: calc(50% - 5px);
    float: left;
}

h6 {
    font-size: 25px;
    color: #fff;
    margin:0px;
    margin-top: 25px;
}

h3 {
    display: block;
}

.port {
    width: calc(100% - 50px);
    margin: 0px auto;
    margin-bottom: 50px;
    padding-bottom: 15px;
    border-bottom: 1px solid #fff;
}

.port > article {
    color: #00e6e6;
}

.ski {
    height: 28px;
    background: rgba(16,16,16,0.3);
}

.ski:hover {
    background: rgba(0, 230, 230, 0.3);
}